.second_card{
    width: 160px;
    text-align: center;
    background-color: #EDEDED;
    border-radius: 15px;
}
.second_card_img{
    margin-bottom: 5px;
    padding-top: 11px;
}

.second_card_title{
    padding-bottom: 11px;
    font-size: 16px;
    line-height: 24px;
}